:root {
    --primary-color-white: #fffffffc;
    --primary-color-light-blue: #5fc2ba;
    --primary-color-blue: #00f;
    --secondary-color-dark-blue: #3b556d;
    --secondary-color-very-dark-blue: #1c2942;
    --secondary-color-black-blue: #070d1b;
    --primary-color-pink: rgb(228, 11, 129);
    --primary-color-light-pink: rgb(228, 11, 129, .5);
    --secondary-parag-color: darkgray;

    --weight-lv1: 400;
    --weight-lv2: 600;
    --weight-lv3: 800;

    --logo-size: 40px;

    --police-name: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --police-parag: 'Times New Roman', Times, serif;
    --police-head: Georgia, 'Times New Roman', Times, serif;

    --inline-offset: 10vw;
    --anim-offset: 30em;

    font-size: 15px;
    
    scroll-behavior: smooth;
}
body {
    background-color: var(--secondary-color-black-blue);
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 1s;
    /* border: 1px solid red; */

}
*:target{
    scroll-padding-top: 25em;
}

img,
svg,
picture {
    width: 100%;
    height: auto;
    object-fit: contain;
}
p {
    font-family: var(--police-parag);
    font-weight: var(--weight-lv2);
    margin-top: 2em;
    text-align: left;
    color: var(--primary-color-white);
    font-size: 1em;
    letter-spacing: .05em;
    max-width: 50%;

}

.centered,
#propos,
#services,
#portfolio,
#contact {
    width: min(1100px, calc(100vw - var(--inline-offset)));
    margin: auto;
    padding-block: 1em;
}



header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    padding: 20px 30px;
    width: 100%;
    background: url(../assets/images/logo_bis.svg) no-repeat -8px -20px;
    z-index: 1000;

}

header figure img {
    width: var(--logo-size);
    height: auto;
}

/* 
ON COMMENCE A FAIRE DES MODIFICATIONS ETC
*/
/* header nav {} */

header nav ul {
    list-style-type: none;
    background-color: var(--primary-color-light-pink);
    padding: 5px 15px;
    border-radius: 100px;
}

header nav ul li {
    font-size: 1em;
    display: inline-block;
    margin-left: 1em;
}

a {
    color: var(--primary-color-white);
    text-decoration: none;
    font-family: var(--police-parag);
    font-weight: var(--weight-lv1);
    text-transform: capitalize;
    letter-spacing: .1em;
    position: relative;
}

a:hover {
    color: var(--primary-color-light-blue);
    top: -0.1em;
    padding: .2em .2em;
}
.selected{
    padding: .2em 1em;
    background-color: var(--secondary-color-black-blue);
    border-radius: 20px;
}
.selected a:hover{
    color: var(--primary-color-white);
    position: static;
}

header input,
header label {
    display: none;
}




#propos {
    margin-top: 150px;
    padding-inline: 2%;
}

#propos figure {
    float: right;
    background: url(../assets/images/pattern.png) no-repeat center;
    width: 26em;
    border-radius: 50%;
    overflow: hidden;
    animation: floating 4s infinite both alternate ease-in-out;
    position: relative;
    top: 0;
}
@keyframes floating {
    50%{top: -2em;}
    
}

#propos figure img {
    width: 115%;
}

h1 {
    color: rgba(0,0,0,0);
    background: linear-gradient(400deg, var(--primary-color-pink), var(--primary-color-light-blue));
    background-clip: text;
    font-weight: var(--weight-lv3);
    font-size: 4em;
    font-family: var(--police-name);
    text-transform: uppercase;
    letter-spacing: .05em;
    padding-top: .5em;
}
#services h1, #portfolio h1, #contact h1{opacity: .8;}
p{opacity: .5;}

#propos ul li {
    position: relative;
    list-style-type: none;
    font-weight: var(--weight-lv2);
    font-family: var(--police-parag);
    font-size: .8em;
    color: var(--primary-color-white);
    margin-top: 2em;
    margin-right: .5em;
    display: inline-block;
    background-color: var(--secondary-color-dark-blue);
    padding: .1em 1em;
    border-radius: 20px;
    box-shadow: 3px 3px 2px var(--primary-color-pink);
    letter-spacing: .1em;
    animation: pop infinite 5s ;
    
}
#propos ul li:nth-of-type(2){animation-delay: 250ms;}
#propos ul li:nth-of-type(3){animation-delay: 500ms;}
#propos ul li:nth-of-type(4){animation-delay: 750ms;}
@keyframes pop{
    0%{top:0}
    10%{top: -0.5em;}
    20%{top: 0em;}

}




.button, button {
    padding: .5em 3em;
    border: none;
    background-color: var(--primary-color-pink);
    color: var(--primary-color-white);
    text-transform: uppercase;
    font-weight: var(--weight-lv1);
    font-size: 1em;
    border-radius: 30px;
    margin-top: 2em;
    letter-spacing: .1em;
    display: block;
    box-shadow: -10px 10px 10px var(--primary-color-light-pink),
                10px -10px 10px var(--primary-color-light-pink),
                10px -10px 10px var(--primary-color-light-pink),
                -10px 0px 10px var(--primary-color-light-pink),
                0px 0px 8px var(--primary-color-light-blue);
    
    border: 2px var(--primary-color-pink) inset;
    cursor: pointer;
    /* margin-inline: auto; */
}
.button:hover, button:hover{
    border-style: outset;
    box-shadow: 0 10px 10px var(--primary-color-light-pink),
                10px 0px 10px var(--primary-color-light-pink),
                -10px 0px 10px var(--primary-color-light-pink),
                0 -10px 10px var(--primary-color-light-pink),
                0px 0px 8px var(--primary-color-light-blue);
    font-size: 1.1 em;
}
#portfolio button{
    margin-inline: auto;
}

#propos+* {
    clear: both;
}





#services, #portfolio, #contact{
    text-align: center;
    margin-top: 12em;
}
#services h1, #portfolio h1{
    font-weight: var(--weight-lv1);
}
#services h2{
    color: var(--primary-color-light-pink);
    letter-spacing: .1em;
}
#services p{
    max-width: 80%;
    margin-inline: auto;
    font-size: 1.2em;
    text-align-last: center;
}
#services aside{
    display: inline-block;
    vertical-align: top;
    max-width: 250px;
    margin-right: 3em;
    margin-top: 7em;
}
#services aside p{
    text-align: justify;
    text-align-last: center;
    font-size: 1em;
}
#services img{width: 50%;}
#services button{margin-inline: auto; margin-top: 6em;}


#portfolio{overflow: hidden;}
#portfolio div{
    margin-top: 2em;
    /* overflow: hidden; */
    margin-inline: auto;
    width: max-content;

}
#portfolio aside{
    width: max-content;
    position: relative;
    animation: slideshow infinite 20s alternate-reverse both ease-in-out;
}
@keyframes slideshow {
    from{left: 15%;}
    to{left: -85%;}
}
#portfolio aside figure{
    opacity: .7;
    display: inline-block;
    max-width: calc(100vw - var(--inline-offset));
    width: 30em;
    position: relative;
    z-index: 1;
}
#portfolio aside figure:hover::before{
    content: "cliquer pour voir";
    position: absolute;
    inset: 0;
    margin: auto;
    padding: .5em 1em;
    width: max-content;
    height: max-content;
    z-index: 2;
    color: var(--primary-color-white);
    border-radius: 20px;
    background-color: var(--primary-color-light-pink);
    font-weight: var(--weight-lv2);
    letter-spacing: .1em;
    font-size: 1.2em;
    opacity: 1;
}
#portfolio aside figure img{border-radius: 10px;}
#portfolio aside figure:hover{
    margin-inline: 3em;
}
    
#portfolio aside figure:hover img{box-shadow: 5px 5px 10px gray;}

#portfolio aside:hover figure:not(:hover){opacity: .3;}
#portfolio aside:hover{
    animation-play-state: paused;
}

#contact{
    /* padding-inline: var(--inline-offset); */
    background: url(../assets/images/contact.png) no-repeat;
    background-size: 400px 400px;
    background-position: right center;
    text-align: left;
}
#contact h1{text-align: center;}

#contact input:not(input[type="submit"]), #contact select, #contact textarea{
    display: block;
    margin-top: 2em;
    width: 50%;
    /* min-height: 30px; */
    border-radius: 20px;
    /* font-size: 1.1em; */
    font-weight: var(--weight-lv2);
    text-align: center;
    background: none;
    color: var(--primary-color-white);
    padding: .5em;
    border: 1px groove var(--secondary-color-dark-blue);
}
#contact  input:first-of-type, #contact input:nth-of-type(2){width: 25%;}
#contact *:focus{
    outline: none;
    border-color: var(--primary-color-light-pink);
    color: var(--primary-color-light-blue);
}
#contact textarea{
    height: 250px;
    text-align: left;
    padding: 1.2em;
}

footer{
    margin-top: 20em;
    padding-block: .5em;
    border-radius: 100px;
    background: linear-gradient(60deg, var(--primary-color-light-pink), var(--primary-color-light-blue));
    max-width: 300px;
    margin-inline: auto;
    margin-bottom: 1em;
}
footer p{margin: auto; font-size: small;}




@media only screen and (max-width: 1200px) {
    :root {
        font-size: 13px;
    }
}

@media only screen and (max-width: 1000px) {
    :root {
        font-size: 12px;
    }

    /* #propos h1{
        padding-top: 1em;
    } */
}




@media only screen and (max-width: 900px) {
    header label {
        background: url(../assets/images/icon-menu.svg) no-repeat 50% 50%;
        padding: 10px 20px;
        display: block;
    }

    header nav {
        display: none;
        position: absolute;
        top: 100%;
        right: 15px;
        
        /* right: var(--inline-offset); */
    }
    header nav ul{background: none;}
    header nav ul li {
        margin-bottom: 2em;
        padding: .1em 1em;
        background-color: var(--secondary-color-very-dark-blue);
        box-shadow: 5px 5px 0 var(--primary-color-light-pink);
        display: block;
    }

    header input:checked~nav {
        display: block;
    }

    header input:checked~label {
        background: url(../assets/images/icon-menu-close.svg) no-repeat 50% 50%;
    }

    .button, button{margin-inline: auto;}

    #propos {text-align: center;}

    #propos figure {
        float: none;
        width: 60%;
        margin: auto;
    }

    #propos figure img {
        width: 95%;
        object-fit: contain;
    }
    #propos p {
        max-width: 100%;
        font-size: 1em;
    }
    #propos ul li{
        font-size: x-small;
    }

    #services aside{margin-top: 5em; max-width: 300px;}


    
#contact{
    background-position: center top;
    padding-top: 300px;
    position: relative;
}
#contact h1{
    position: absolute;
    inset: 0;
    margin-inline: auto;
}

#contact input:not(input[type="submit"]), #contact select, #contact textarea{
    width: 80%;
    margin-inline: auto;
}
#contact textarea{
    height: 250px;
    text-align: left;
    padding: 1.2em;
}



}

@media only screen and (max-width: 780px){
    #services aside{margin-top: 7em; max-width: 70%;}
}